/* listar variações do componente */

.avatar {
	width: 5rem;
	height: 5rem;
	border-radius: 8px;
	object-fit: cover;
	border: 4px solid var(--green-500);
}

.avatarMargin{
	width: 5rem;
	height: 5rem;
	border-radius: 8px;
	object-fit: cover;
	border: 4px solid var(--green-500);
	margin-top:-2.5rem;
}