.comment{
	margin-top: 1.5rem;
	display: flex;
	gap: 1rem;
}

.commentBox{
	flex: 1;
}

.commentContent{
	background: var(--gray-700);
	border-radius: 8px;
	padding: 1rem;
}

.commentContent header{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.author{
	display: flex;
	flex-direction: column;
	font-size: 0.875rem;
	line-height: 1.6;
}

.comment header button{
	background:transparent;
	border:0;
	color: var(--gray-400);
	cursor: pointer;
	line-height: 0;
	border-radius: 2px;
}

.comment header button:hover{
	color: var(--red-500);
}

.commentContent p{
	margin-top:0.5rem;
	color: var(--gray-300);
}

.commentBox footer{
	margin-top: 1rem;
}

.commentBox footer button{
	background: transparent;
	border: 0;
	color: var(--gray-400);
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 2px;
}

.commentBox footer button:hover{
	color: var(--green-300);
}

.commentBox footer button svg{
	margin-right: 0.5rem;
}

.commentBox footer button span::before{
	padding:0 0.25rem;
	content:"\2022"
}